body.blog,
body.archive,
body.single-post{
  main{
    padding-top: 150px;
    padding-bottom: 50px;

    > article,
    section.posts{
      float: left;

      width: calc(100% - 400px);
      padding-right: $side-margin / 2;

      border-right: thin dotted $black;
    }

    aside{
      float: right;

      width: 400px;
      padding-left: $side-margin / 2;
    }
  }
}