body.blog,
body.archive,
body.single-post{
  main{
    padding-top: 200px;
    padding-bottom: 50px;

    header,
    section{
      padding-right: 0;
    }

    section{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    > article,
    section.posts{
      float: left;

      width: calc(100% - 450px);
      padding-right: $side-margin / 2;

      border-right: thin dotted $black;
    }

    aside{
      float: right;

      width: 450px;
      padding-left: $side-margin / 2;
    }
  }

  // Page header
  header{
    @include align-items( flex-start );

    .link-logo{
      width: 80px;

      img{
        top: 0;
        position: relative;
      }
    }

    nav{
      width: auto;
    }
  }

  // Timestamp
  article .post-time{
    width: 80px;
    min-width: 80px;
    margin-right: $side-margin;
    display: inline-block;

    text-align: center;

    time{
      display: block;

      text-align: center;

      div{
        padding: 15px 20px;

        text-align: center;
        border-radius: 5px;
        background-color: $black;

        p{
          color: $white;
        }

        p:first-child{
          @extend h2;
        }

        p:last-child{
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    > p{
      padding-top: 5px;

      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1200px){
  body.blog,
  body.archive,
  body.single-post{
    main{
      aside{
        display: none;
      }

      > article,
      section.posts{
        width: 100%;
        padding-right: $side-margin;

        border-right: none;
      }
    }
  }
}

@media screen and (max-width: 800px){
  body.blog,
  body.archive,
  body.single-post{
    main{
      > article,
      section.posts{
        padding-right: $side-margin / 2;
        padding-left: $side-margin / 2;
      }

      article .post-time{
        display: none;
      }
    }
  }
}