body.blog,
body.archive{
  section.posts{
    padding-top: 0;

    article{
      @include flexbox;

      margin-bottom: 100px;

      .post-content{
        width: 100%;
      }
    }
  }
}

body.blog,
body.archive{
  section.posts article .post-content{
    > *{
      margin-bottom: 15px;
    }
  }
}