body.single-post{
  article{
    header{
      height: auto;
      overflow: hidden;

      .post-time,
      .post-title{
        float: left;
      }

      .post-title{
        width: calc(100% - 140px);
        max-width: 600px;
        display: inline-block;

        p{
          margin-bottom: 15px;

          a{
            text-decoration: underline;
          }
        }

        h1{
          @extend h2;
        }
      }
    }

    section.text{
      text-align: left !important;

      .section-body{
        margin-left: 140px;
      }
    }
  }
}

@media screen and (max-width: 800px){
  body.single-post{
    article{
      padding-right: $side-margin / 2;
      padding-left: $side-margin / 2;

      header{
        padding: 0;

        .post-title{
          width: 100%;
        }
      }

      section{
        padding-right: 0;
        padding-left: 0;
      }

      section.text{
        .section-body{
          margin-left: 0;

          .columns{
            padding: 0;
          }
        }
      }
    }
  }
}