body.single-post{
  article{
    header{
      height: auto;
      overflow: hidden;

      .post-time,
      .post-title{
        float: left;
      }

      .post-title{
        width: calc(100% - 140px);
        max-width: 600px;
        display: inline-block;

        p{
          margin-bottom: 15px;

          a{
            text-decoration: underline;
          }
        }

        h1{
          @extend h2;
        }
      }
    }

    section.text{
      text-align: left !important;

      .section-body{
        max-width: none;
      }
    }

    section.text,
    section.image,
    section.video{
      margin-left: 140px;
    }

    section.image{
      img{
        cursor: zoom-in;
      }

      .fullscreen{
        @include hide( .2s );

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 9999999;

        img{
          width: auto;
          height: 90%;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          cursor: zoom-out;
        }

        &.is-active{
          @include show( .2s );
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  body.single-post{
    article{
      padding-right: $side-margin / 2;
      padding-left: $side-margin / 2;

      header{
        padding: 0;

        .post-title{
          width: 100%;
        }
      }

      section{
        padding-right: 0;
        padding-left: 0;
      }

      section.text{
        .section-body{
          .columns{
            padding: 0;
          }
        }
      }

      section.text,
      section.image,
      section.video{
        margin-left: 0;
      }

      section.image{
        .fullscreen{
          display: none !important;
        }
      }
    }
  }
}