header nav{
  width: 50%;
}

header nav ul{
  display: inline;

  li{
    display: inline-block;
    padding-right: 3em;

    &:last-child{
      padding-right: 0;
    }

    a{
      color: $black;
      text-decoration: none;

      h3{
        @include transition( .3s );
      }

      &:hover{
        text-decoration: none !important;

        h3{
          @include transition( .3s );
          @include transform( translateY(-5px) );
        }
      }
    }
  }
}

body.home{
  header .link-home{
    color: $white;
  }

  header nav ul{
    li{
      a{
        color: $white;
      }
    }
  }
}

@media #{$medium-down}{
  header nav{
    width: 80%;

    ul{
      li{
        padding-right: 0;
        padding-left: 3em;

        h3{
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (max-width: 700px){
  body > header{
    .link-home{
      display: block;
    }

    nav{
      right: 0;
      position: absolute;
    }

    nav li{
      display: none;

      a{
        &:hover{
          text-decoration: underline !important;

          h3{
            @include transform( translateY(0) );
          }
        }
      }
    }

    nav li:last-child{
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 0;
      margin: auto;
    }
  }
}
