footer{
  @include flex;
  @include align-items( center );
  @include justify-content( space-between );

  z-index: $zIndex-footer;

  height: 100px;
  padding: 30px;

  background: $black;

  img{
    height: 100%;
    float: left;
  }

  p{
    float: right;
    color: $white;
    font-size: 12px;
    padding-left: 30px;
    line-height: 40px;
  }
}