footer{
  @include flexbox;
  @include align-items( center );
  @include justify-content( space-between );

  z-index: $zIndex-footer;

  height: auto;
  padding: 30px;
  overflow: hidden;

  background: $black;

  img{
    width: 30px;
  }

  p{
    color: $white;
    font-size: 12px;
    padding-left: 30px;
  }
}