header{
  @include flex;
  @include align-items( center );
  @include justify-content( space-between );

  left: 0;
  position: absolute;
  z-index: $zIndex-header;

  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  .link-logo{
    width: 50px;

    img{
      @include transition( .4s );

      top: 35px;
      position: fixed;

      width: 200px;
    }
  }
}

@media #{$medium-down}{
  header{
    position: absolute;

    .link-logo{
      width: 100px;

      img{
        top: 15px;
        position: relative;

        width: 180px;
      }
    }
  }
}

@media #{$small-only}{
  header{
    padding: 0;

    .link-logo{
      margin: auto;
    }
  }
}
