header.shrunk{
  background-color: $white;

  .link-logo{
    img{
      width: 80px;
      top: 10px;
    }
  }
}

@media #{$small-only}{
  header .link-logo img{
    width: 80px;
    top: 15px;
  }
}
