header.shrunk{
  background-color: $white;

  .link-logo{
    img{
      width: 80px;
      top: 10px;
    }
  }
}

@media #{$small-only}{
  header.shrunk{
    background-color: transparent;

    .link-logo{
      img{
        top: 15px;
        position: relative;

        width: 100px;
      }
    }
  }
}
