body{
  > *{
    @include show( .5s );
  }
}

body.is-loading{
  height: auto !important;
  background: url('../img/logo.png') center center no-repeat;
  background-size: 200px;
  background-attachment: fixed;

  > *{
    @include hide( 0s );
  }
}

body.is-mobile.is-loading{
  height: auto !important;
  background: none !important;
}

body.is-mobile.is-loading > *{
  @include show( 0s );
}

@media #{$medium-down}{
  body{
    > *{
      @include show( 0s !important );
    }
  }
}