section.hero{
  height: 90vh;
  overflow: hidden;

  .hero-banner{
    position: fixed;
    overflow: hidden;

    div{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

  }

  .section-body{
    @include flex;
    @include align-items( center );
    @include transform( translateX(-50%) );

    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 997;

    margin: auto;
  }

  &:after{
    @include transform( rotate(-5deg) );

    content: ' ';
    bottom: 0px;
    left: -50px;
    position: absolute;

    width: 300%;
    height: 300px;

    background-color: $white;
  }
}

section.hero .section-body{
  width: 80%;

  .left,
  .right{
    width: 50%;
    float: left;
  }
}

@media #{$medium-down}{
  section.hero{
    position: relative;

    height: auto !important;

    .section-body{
      @include show( 0s );
      @include transform( translate(0,0) );

      top: 0;
      left: 0;
      position: relative;

      width: 80%;
      display: block;

      .left,
      .right{
        width: 100%;
        height: auto;
        float: none;
      }

      .right{
        text-align: center;

        *{
          color: $black;
        }
      }
    }
  }
}
