section.hero{
  height: 90vh;
  overflow: hidden;

  .hero-banner{
    position: fixed;
    overflow: hidden;
    z-index: 0;

    div{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

  }

  .section-body{
    @include flex;
    @include align-items( center );
    @include transform( translateX(-50%) );

    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 997;

    margin: auto;

    h1{
      margin-bottom: .5em;
    }
  }

  // &:after{
  //   @include transform( rotate(-5deg) );
  //
  //   content: ' ';
  //   bottom: 0px;
  //   left: -50px;
  //   position: absolute;
  //
  //   width: 300%;
  //   height: 300px;
  //
  //   background-color: $white;
  // }
}

section.hero .section-body{
  width: 80%;

  .left,
  .right{
    width: 50%;
    float: left;
  }
}

// Hero shape
section.hero .hero-shape{
  bottom: 0;
  position: absolute;

  width: 100%;
  height: 200px;

  background-color: $white;

  span{
    // top: -7.9vh;
    left: 0;
    position: absolute;

    border-bottom-color: $white;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-left-style: solid;

    border-right: 0px solid transparent;

    width: 100%;
  }
}

@media #{$medium-down}{
  section.hero{
    position: relative;

    height: auto !important;
    padding-bottom: 50px !important;

    .hero-banner{
      display: none;
    }

    .section-body{
      @include show( 0s !important);
      @include transform( translate(0,0) );

      right: 0;
      left: 0;
      position: relative;

      display: block;

      .left,
      .right{
        width: 100%;
        height: auto;
        float: none;
      }

      .right{
        text-align: center;

        *{
          color: $black;
        }

        h1{
          font-size: 14vw;
        }

        h2{
          font-size: 24px;
        }
      }
    }
  }

  // Grey background
  section.hero,
  section.hero .hero-shape,
  section.hero .hero-shape span{
    background-color: $grey-light;
    border-color: $grey-light;
  }
}
