section.hero{
  height: 90vh;
  overflow: hidden;

  .hero-banner{
    position: fixed;
    overflow: hidden;
    z-index: 0;

    div{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

  }

  .section-body{
    @include flex;
    @include align-items( center );
    @include transform( translateX(-50%) );

    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 997;

    margin: auto;

    h1{
      margin-bottom: .5em;
    }
  }
}

section.hero .section-body{
  width: 80%;

  background-position: 9999px;
  background-repeat: no-repeat;

  .left,
  .right{
    width: 50%;
    float: left;
  }
}

// Hero shape
section.hero .hero-shape{
  bottom: 0;
  position: absolute;

  width: 100%;
  height: 200px;

  background-color: $white;

  span{
    // top: -7.9vh;
    left: 0;
    position: absolute;

    border-bottom-color: $white;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-left-style: solid;

    border-right: 0px solid transparent;

    width: 100%;
  }
}

@media #{$medium-down}{
  section.hero{
    position: relative;

    height: auto !important;
    padding-bottom: 180px !important;

    .hero-banner{
      display: none;
    }

    .section-body{
      @include flex;
      @include flex-direction( column-reverse );
      @include show( 0s !important);
      @include transform( translate(0,0) );

      right: 0;
      left: 0;
      position: relative;

      width: 100%;

      background-position: center center;

      .left,
      .right{
        width: 100%;
        height: auto;
        padding: 0 10%;
        float: none;
      }

      .left{
        img{
          margin-bottom: -30%;
        }
      }

      .right{
        padding-top: 30%;

        text-align: center;

        *{
          color: $white;
        }
      }
    }
  }
}
