@font-face{
  font-family: trademarker;
  src: url(../fonts/trademarker.otf);
}

@mixin trademarker{
  font-family: trademarker;
}

@mixin gotham{
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal;
}
