%base{
  @include gotham;
  font-size: 16px;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

h1{
  @extend %base;
  @include trademarker;

  font-size: 80px;
  line-height: 0.9;
}

h2{
  @extend h1;

  font-size: 30px;
  line-height: 1;
}

h3{
  @extend %base;

  font-size: 18px;
}

p{
  @extend %base;

  font-size: 14px;
  line-height: 1.4;
}

a{
  @include transition( .2s );
  @extend %base;
  @extend p;

  color: $black;
  cursor: pointer;
  text-decoration: none;

  &.link-h1,
  &.link-h2,
  &.link-h3,
  &.link-p{
    display: block;

    text-decoration: none;

    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }

  &:hover,
  &:focus{
    text-decoration: underline;
  }
}

@media #{$small-only}{
  h1{ font-size: 36px; }
  h2{ font-size: 24px; }
  h3{ font-size: 24px; }
}
