aside{
  nav{
    margin-bottom: 50px;

    p,
    li{
      margin-bottom: 15px;
    }

    li a{
      @include transition( .2s );

      text-decoration: none;
      border-bottom: thin solid transparent;

      &:hover,
      &:focus{
        border-bottom: thin solid $black;
      }
    }
  }

  ul{
    > p,
    li{
      margin-bottom: 15px;
    }

    li{
      > p{
        margin-bottom: 5px;

        a{
          @include transition( .2s );

          text-decoration: none;
          border-bottom: thin solid transparent;

          &:hover,
          &:focus{
            border-bottom: thin solid $black;
          }
        }
      }

      time{
        img{
          width: 20px;
          height: auto;
          margin-right: 10px;
          display: inline-block;
        }

        p{
          display: inline-block;
          vertical-align: super;

          color: $grey-text;
        }
      }
    }
  }
}