nav{
  width: 50%;
}

nav ul{
  display: inline;

  li{
    display: inline-block;
    padding-right: 3em;

    a{
      color: $black;
      text-decoration: none;

      h3{
        @include transition( .3s );
      }

      &:hover h3{
        @include transition( .3s );
        @include transform( translateY(-5px) );
      }
    }
  }
}

body.home{
  nav ul{
    li{
      a{
        color: $white;
      }
    }
  }
}

@media #{$medium-down}{
  nav{
    width: 80%;

    ul{
      li{
        padding-right: 0;
        padding-left: 3em;
      }
    }
  }
}

@media all and (max-width: 730px){
  nav{
    display: none;
  }
}
